<%- include('partials/header.ejs') %>
<%- include('partials/navigation.ejs') %>
        
        <main>
<div class="container">
        <div class="row">
          <div class="col-md-12">
		  <header><h1>Fionn's Blog Web App</h1><p class="lead">Capstone Project #3</p></header>
		  <h2>TODO List</h2>
            
		  </div><!-- ./ end div class col-md-12 -->
<article class="row">
	<section class="col-lg-8">
			 
			  
            List of stuff goes here
			
			</section>
			<%- include('partials/sidebar.ejs') %>
			 </article>
          </div><!-- ./ end main col-md-6 -->
        </div><!-- ./ end main row -->
      </div><!-- ./ end main container -->
        </main>
    <%- include('partials/footer.ejs') %>